body{
    background-color:antiquewhite;
}
.about-section{
    text-align: center;
    background-color: white;
    padding: 45px;
    border-radius: 10px;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
max-width: 950px;
margin: 50px auto;
}
.txt-color{
    color: blue;
}
.img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}